*{
    margin: 0;
    padding: 0;
}

header{
    background-image: url(../Resource/bg-image.svg);
    width: 1280px;
    height: 600px;
    justify-content: center;
    margin-top: 50px;
    margin-left: 125px;
}

.logo{
    padding-top: 50px;
    padding-left: 100px;
}

.title{
    color: #FFF;
    text-align: center;
    font-size: 30px;
    font-weight: 900;

}
.description{
    padding-top: 20px;
}